p {
    margin: 5px 0 20px 0 !important;
}

li {
    font-size: 14px;
    line-height: 22px;
}

.header .crew-login-container {
    position: absolute;
    right: 20px;
    top: 10px
}

.header .crew-login {
    color: rgb(255, 255, 255);
    display: inline-block;
    font-size: 13px;
    font-weight: 600;
    text-transform: uppercase;
    margin-top: 5px;
}

.col {
    font-size: 14px;
    font-weight: normal;
}

dl {
    margin-bottom: 0;
    min-height: 22px;
}

.dl-b10 {
    margin-bottom: 8px !important;
}

.dl-b10 dd {
    font-weight: bold;
}

.tqp-nav-link {
    color: #20A8D8;
    cursor: pointer;
    font-size: 14px;
}

td {
    font-size: 14px;
}

.available {
    background-color: rgba(0, 255, 0, 0.5);
}

.booked {
    background-color: rgba(255, 0, 0, 0.5);
}

.calendar-container {
    padding: 10px 30px;
    border: 2px solid rgb(0, 61, 112);
    margin-bottom: 20px;
    background: rgba(0, 0, 0, 0.01);
}

@media (max-width: 767px) {
    .y-menu_outer {
        background: rgb(0, 46, 91);
    }
}

@media (max-width: 767px) {
    .tqp-header-right {
        margin-top: 20px;
        float: left !important;
    }
}

@media (max-width: 990px) {
    .tqp-header-right {
        margin-top: 20px;
        float: left !important;
    }
}

@media (max-width: 1200px) {
    .tqp-header-right {
        margin-top: 7px;
        float: right !important;
    }
}

.tqp-header-right {
    float: right;
    display: inline-block;
    margin-bottom: 25px;
}


.tqp-countdown span {
    font-size: 24px;
    font-weight: normal;
    font-family: 'Roboto Slab', sans-serif;
    line-height: 24px;
    color: #002E5B;
}

.y-breadcrum {
    margin: 0 auto 20px !important;
}
